header {
  background-color: $bg-header-color;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header__wrap {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__wrap.container {
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (max-width: 1279px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header__link-logo {
  width: 66px;
  height: 52px;
}

.header__list {
  list-style: none;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 625px;
  }
}

.header__list__item {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.header__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $tablet-header-footer-color;
  &:hover,
  &:focus {
    color: $style-color;
  }

  &::after {
    position: absolute;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    content: '';
    opacity: 0;
    width: 100%;
    display: inline-block;
    height: 1px;
    background-color: $style-color;
    bottom: 0;
    left: 0;
  }
}
.header__link:hover::after,
.header__link:focus::after {
  opacity: 1;
}

.header__btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: none;
  width: 98px;
  height: 32px;
  border-radius: 30;
  background-color: $style-color;
  display: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $bg-hover-btn-color;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 30px;
  }
}

.header__mob-menu {
  width: 28px;
  height: 28px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: white;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
