@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Kalam&family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #2C2C2C;
  background-color: #F5F5F5;
}

.list {
  list-style: none;
}

ul {
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}