@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Kalam&family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #2C2C2C;
  background-color: #F5F5F5;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1248px;
  }
}

header {
  background-color: #FEFEFE;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header__wrap {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .header__wrap.container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrap.container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header__link-logo {
  width: 66px;
  height: 52px;
}

.header__list {
  list-style: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    margin-left: 180px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__list {
    margin-left: 735px;
  }
}

.header__list__item {
  margin-right: 28px;
}
.header__list__item:last-child {
  margin-right: 0;
}

.header__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;
}
.header__link:hover, .header__link:focus {
  color: #BBF330;
}
.header__link::after {
  position: absolute;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  opacity: 0;
  width: 100%;
  display: inline-block;
  height: 1px;
  background-color: #BBF330;
  bottom: 0;
  left: 0;
}

.header__link:hover::after,
.header__link:focus::after {
  opacity: 1;
}

.header__btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  width: 98px;
  height: 32px;
  border-radius: 30;
  background-color: #BBF330;
  display: none;
  cursor: pointer;
}
.header__btn:hover, .header__btn:focus {
  background-color: #B5FF00;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .header__btn {
    margin-left: 30px;
  }
}

.header__mob-menu {
  width: 28px;
  height: 28px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: white;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__mob-menu {
    display: none;
  }
}