@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Kalam&family=Roboto:wght@400;500;700;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  background-color: #fefefe;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 1280px;
  }
}

/* Media queries */
/* Animation */
.root {
  position: relative;
}

.js-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(94, 99, 99, 0.7);
}
.modal__form {
  position: absolute;
  width: 100%;
  padding: 32px 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #ffe550;
  -webkit-animation: fadeInDown 3s;
          animation: fadeInDown 3s;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@media screen and (min-width: 480px) {
  .modal__form {
    width: 458px;
  }
}
.modal__form-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2c2c2c;
}
.modal__form-element {
  margin-bottom: 24px;
}
.modal__last-element {
  margin-bottom: 32px;
}
.modal__form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  padding-left: 12px;
  color: #2c2c2c;
}
.modal__form-input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0 12px;
  background-color: #fff;
  border: 1px solid #7eb101;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.modal__form-input::-moz-placeholder {
  color: #c4c4c4;
}
.modal__form-input:-ms-input-placeholder {
  color: #c4c4c4;
}
.modal__form-input::placeholder {
  color: #c4c4c4;
}
.modal .form__input-wrapper {
  display: none;
  margin-left: 12px;
}
.modal .form__icon-error {
  margin-right: 4px;
}
.modal .form__error,
.modal .form__error-required {
  display: inline;
  color: #ff705d;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.01em;
}
.modal .form__error {
  font-size: 11px;
}
@media screen and (min-width: 1280px) {
  .modal .form__error {
    font-size: 13px;
  }
}
.modal .form__error-required {
  font-size: 13px;
}
.modal__btn-submit {
  display: block;
  width: 106px;
  height: 40px;
  margin: 0 auto;
  border-radius: 30px;
  border: 2px solid #7eb101;
  background-color: #fff;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__btn-submit:hover, .modal__btn-submit:focus {
  background-color: #b5ff00;
}

.btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .btn-close {
    top: 12px;
    right: 12px;
  }
}
.btn-close__icon--close {
  width: 18px;
  height: 18px;
  fill: #2c2c2c;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover .btn-close__icon--close, .btn-close:focus .btn-close__icon--close {
  fill: #bbf330;
}

.error.modal__form-element,
.required.modal__form-element {
  margin-bottom: 9px;
}
@media screen and (min-width: 1280px) {
  .error.modal__form-element,
.required.modal__form-element {
    margin-bottom: 6px;
  }
}
.error.modal__last-element,
.required.modal__last-element {
  margin-bottom: 17px;
}
@media screen and (min-width: 1280px) {
  .error.modal__last-element,
.required.modal__last-element {
    margin-bottom: 14px;
  }
}
.error .modal__form-input,
.required .modal__form-input {
  border: 1px solid red;
}
.error .form__input-wrapper,
.required .form__input-wrapper {
  display: flex;
  align-items: center;
}
.error.modal__btn-submit,
.error .modal__btn-submit,
.required.modal__btn-submit,
.required .modal__btn-submit {
  border: 2px solid #ff705d;
  background-color: #fff;
}
.error.modal__btn-submit:hover, .error.modal__btn-submit:focus,
.error .modal__btn-submit:hover,
.error .modal__btn-submit:focus,
.required.modal__btn-submit:hover,
.required.modal__btn-submit:focus,
.required .modal__btn-submit:hover,
.required .modal__btn-submit:focus {
  color: #fff;
  background-color: #ff705d;
}
.error .form__error-required,
.required .form__error-required {
  display: none;
}

.required .form__error {
  display: none;
}
.required .modal__form-element {
  margin-bottom: 6px;
}
.required .modal__last-element {
  margin-bottom: 14px;
}
.required .form__error-required {
  display: inline;
}

header {
  background-color: #fefefe;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header__wrap {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .header__wrap.container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (max-width: 1279px) {
  .header__wrap.container {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrap.container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header__link-logo {
  width: 66px;
  height: 52px;
}

@media screen and (min-width: 1280px) {
  .header__nav {
    margin-left: auto;
  }
}

.header__list {
  list-style: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.header__list__item {
  margin-right: 28px;
}
.header__list__item:last-child {
  margin-right: 0;
}

.header__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;
}
@media screen and (min-width: 1280px) {
  .header__link {
    color: #2c2c2c;
  }
}
.header__link:hover, .header__link:focus {
  color: #bbf330;
}
.header__link::after {
  position: absolute;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  opacity: 0;
  width: 100%;
  display: inline-block;
  height: 1px;
  background-color: #bbf330;
  bottom: 0;
  left: 0;
}

.header__link:hover::after,
.header__link:focus::after {
  opacity: 1;
}

.header__btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  border: none;
  width: 98px;
  height: 32px;
  border-radius: 30;
  background-color: #bbf330;
  display: none;
  cursor: pointer;
}
.header__btn:hover, .header__btn:focus {
  background-color: #b5ff00;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .header__btn {
    margin-left: 30px;
  }
}

.header__mob-menu {
  width: 28px;
  height: 28px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: white;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__mob-menu {
    display: none;
  }
}

.modile-menu__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #7eb101;
}
.modile-menu__icon:hover, .modile-menu__icon:focus {
  fill: #ffe550;
}

.mob-menu {
  overflow: hidden;
  position: fixed;
  display: none;
  width: 130px;
  top: 35;
  right: 20;
  border-radius: 30px 0px 30px 30px;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  background-color: #fefefe;
}
@media screen and (min-width: 480px) {
  .mob-menu {
    right: 50;
  }
}
@media screen and (min-width: 550px) {
  .mob-menu {
    right: 80;
  }
}
@media screen and (min-width: 600px) {
  .mob-menu {
    right: 100;
  }
}
@media screen and (min-width: 650px) {
  .mob-menu {
    right: 120;
  }
}
@media screen and (min-width: 700px) {
  .mob-menu {
    right: 140;
  }
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu.is-open {
  display: block;
}

.menu-button-close {
  position: absolute;
  top: 11px;
  right: 11px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.mob-menu__item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 10px;
}
.mob-menu__item:hover, .mob-menu__item:focus {
  background-color: #bbf330;
}

.mob-menu__link {
  font-size: 16px;
  line-height: 1.18;
  color: #000000;
}

.nowrap {
  white-space: nowrap;
}

.swiper {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .swiper {
    display: none;
  }
}
.hero {
  padding-top: 14px;
}

/* Left Column */
.hero-title {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2C2C2C;
  margin-bottom: 28px;
}

.hero-wrap {
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2C2C2C;
  margin-bottom: 28px;
}

.hero-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 30px;
  cursor: pointer;
  background-color: #BBF330;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2C2C2C;
  padding: 6px 18px;
  border: none;
  font-family: inherit;
}

.hero-button:hover {
  background-color: #B5FF00;
}

/* Swiper slide */
@media screen and (min-width: 768px) {
  .hero-title {
    font-family: "Roboto" sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: #2C2C2C;
    margin-bottom: 30px;
    max-width: 537px;
  }
  .hero-design {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .hero-wrap {
    font-family: "Roboto" sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2C2C2C;
    margin-bottom: 30px;
    max-width: 336px;
  }
  .rules {
    display: flex;
  }
  .swiper {
    width: 336px;
    height: 320px;
    position: relative;
    box-sizing: border-box;
    background: #FEFEFE;
    margin-top: 149px;
  }
  .img-swiper {
    width: 292px;
    height: 292px;
    background-color: #FEFEFE;
    border: 14px solid #FFE550;
    border-radius: 50%;
  }
  .swiper-button-prev {
    color: #2C2C2C;
    left: -10px;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 34px;
    height: 28px;
  }
  .swiper-button-next {
    color: #2C2C2C;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    right: 5px;
    width: 34px;
    height: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    display: flex;
  }
  .hero-wrap {
    max-width: 490px;
  }
  .hero-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: #2C2C2C;
    margin-top: 159px;
  }
  .hero-wrap {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2C2C2C;
    margin-bottom: 28px;
  }
  .img-swiper {
    width: 528px;
    height: 528px;
    background-color: #FEFEFE;
    border: 26px solid #FFE550;
    border-radius: 50%;
  }
  .swiper {
    width: 608px;
    height: 608px;
    position: relative;
    box-sizing: border-box;
    background: #FEFEFE;
    margin-top: 0;
  }
  .swiper-slide {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .swiper-button-prev {
    color: #2C2C2C;
    left: 30px;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 40px;
    height: 48px;
  }
  .swiper-button-next {
    color: #2C2C2C;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    right: 30px;
    width: 40px;
    height: 48px;
  }
  .swiper-button-prev:focus,
.swiper-button-next:focus,
.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #7EB101;
  }
  .rules {
    display: flex;
  }
}
.offerings {
  padding-top: 41px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .offerings {
    padding-top: 150px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .offerings {
    padding-top: 177px;
    padding-bottom: 43px;
  }
}

.offerings__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .offerings__title {
    font-size: 42px;
  }
}

.offerings__text {
  margin-top: 28px;
  margin-bottom: 28px;
  line-height: 1.1;
}
@media screen and (min-width: 768px) {
  .offerings__text {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__text {
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .offerings__div {
    margin-right: 204px;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__div {
    margin-right: 82px;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__flex,
.offerings__desktop {
    display: flex;
    flex-wrap: wrap;
  }
  .offerings__desktop {
    flex-wrap: nowrap;
    align-items: center;
  }
}
.offerings__list__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
}
@media screen and (min-width: 1280px) {
  .offerings__list__title {
    line-height: 1.4;
  }
}

.offerings__list__text {
  line-height: 1.1;
}
@media screen and (min-width: 1280px) {
  .offerings__list__text {
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .offerings__list__item {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .offerings__list__item:not(:last-child) {
    margin-right: 116px;
  }
  .offerings__list__item:last-child {
    margin-right: 84px;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__list__item:not(:last-child) {
    margin-right: 67px;
  }
  .offerings__list__item:last-child {
    margin-right: 35px;
  }
}

.offerings__list.list {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .offerings__list.list {
    display: flex;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__list.list {
    margin-bottom: 32px;
  }
}

.offerings__list__icon {
  margin-bottom: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.offerings__btn {
  display: flex;
  align-items: center;
  font-style: inherit;
  line-height: 1.5;
}

.offerings__btn-order {
  padding: 10px 22px;
  margin-right: 24px;
  font-weight: 500;
  font-size: 13px;
  background: #fff;
  border: 2px solid #7eb101;
  border-radius: 30px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.offerings__btn-order:hover, .offerings__btn-order:focus, .offerings__btn-order:active {
  border: 2px solid #597d00;
}

.offerings__btn-read {
  padding: 7px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  color: #000000;
  background-color: transparent;
}
@media screen and (min-width: 1280px) {
  .offerings__btn-read {
    display: none;
  }
}

.offerings__btn-read__icon {
  margin-left: 3px;
}

.offerings__img {
  margin: 0 auto 60px;
}
@media screen and (min-width: 1280px) {
  .offerings__img {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .offerings__img-desktop {
    margin-right: 90px;
  }
}
@media screen and (max-width: 767px) {
  .offerings__img-tablet,
.offerings__img-desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .offerings__img-mobile,
.offerings__img-desktop {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__img-mobile,
.offerings__img-tablet {
    display: none;
  }
}
.overlay {
  max-width: 479px;
  min-height: 824px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/offerings/bgi-mobile320.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/offerings/bgi-mobile320-2x.png);
  }
}
@media screen and (min-width: 480px) {
  .overlay {
    max-width: 767px;
    background-image: url(../images/offerings/bgi-mobile480.png);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/offerings/bgi-mobile480-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    max-width: 1279px;
    background-position: center;
    background-image: url(../images/offerings/bgi-tablet.png);
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/offerings/bgi-tablet2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .overlay {
    max-width: 1600px;
    background-image: url(../images/offerings/bgi-desktop.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/offerings/bgi-desktop2x.png);
  }
}
.favorites {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fefefe;
}
@media screen and (min-width: 768px) {
  .favorites {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.favorites-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .favorites-title {
    font-size: 42px;
    line-height: 1.16;
  }
}

.favorites-text {
  margin-bottom: 60px;
  line-height: 1.14;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .favorites-text {
    font-size: 16px;
    line-height: 1.18;
  }
}

.favorites-list {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
  }
}

.favorites-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .favorites-item {
    margin-bottom: 20px;
  }
  .favorites-item:nth-child(n+4) {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .favorites-item {
    margin: 16px;
    flex-basis: calc((100% - 64px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .favorites-item {
    flex-basis: calc((100% - 96px) / 3);
  }
}

.favorites-image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 282px;
  border-radius: 50%;
  border: 11px solid #ffe550;
  background-color: #fefefe;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .favorites-image-wrap {
    width: 336px;
    height: 338px;
  }
}
@media screen and (min-width: 1280px) {
  .favorites-image-wrap {
    width: 394px;
    height: 397px;
  }
}
.favorites-image-wrap:hover {
  border: 11px solid #bbf330;
}
.favorites-image-wrap:focus {
  border: 11px solid #bbf330;
}

.favorites-image-wrap img {
  width: 224px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .favorites-image-wrap img {
    width: 268px;
  }
}
@media screen and (min-width: 1280px) {
  .favorites-image-wrap img {
    width: 315px;
  }
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: #2c2c2c;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

.section-customer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(.././images/customers/mob-bcg-customer-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .section-customer {
    padding-top: 60px;
    padding-bottom: 46px;
    background-image: url(.././images/customers/tab-bcg-customer-1.png);
    background-position: 50% 30%;
  }
}
@media screen and (min-width: 1280px) {
  .section-customer {
    padding-top: 100px;
    padding-bottom: 134px;
    padding-left: 16px;
    background-image: url(.././images/customers/desk-bcg-customer-1.png);
  }
}

.cont-text {
  line-height: 1.5;
  color: #2c2c2c;
  margin-top: 20px;
  margin-bottom: 32px;
}

.customer {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .customer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .customer {
    display: flex;
    justify-content: flex-start;
    flex-basis: calc((100% - 64px) / 2);
  }
}

.customer__item {
  min-width: 280px;
  padding: 8px;
  border: 1px solid #fff;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .customer__item {
    width: 336px;
    height: 244px;
  }
}
@media screen and (min-width: 1280px) {
  .customer__item {
    width: 500px;
    height: 227px;
  }
}

.customer__icon-wrap {
  margin-bottom: 28px;
}

.customer__icon {
  width: 101px;
  height: 16px;
}

.list {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .list {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .list {
    margin-right: 139px;
  }
}

.customer__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  color: #2c2c2c;
  margin-bottom: 40px;
}

.customer__one {
  display: flex;
  justify-content: space-around;
  width: 160px;
  height: 52px;
  border-right: 1px solid #7eb101;
}

.customer__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}

.customer__note {
  line-height: 1.5;
  color: #2c2c2c;
}

.subscribe {
  background-color: #fefefe;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .subscribe {
    background-image: url(.././images/customers/mob-bcg-customer-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 140%;
  }
}
@media screen and (min-width: 768px) {
  .subscribe {
    background-image: url(.././images/customers/tab-bcg-customer-1.png);
    background-position: 90% 613%;
    padding-bottom: 100px;
    padding-top: 46px;
  }
}
@media screen and (min-width: 1280px) {
  .subscribe {
    margin-top: -44px;
    background-image: url(.././images/customers/desk-bcg-customer-1.png);
    background-position: center 255%;
    padding-bottom: 100px;
    padding-top: 90px;
  }
}

.subscribe__container {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1280px) {
  .subscribe__container {
    flex-direction: row;
    align-items: center;
  }
}

.subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscribe__title {
    font-size: 42px;
  }
}

.subscribe__text {
  line-height: 1.14;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .subscribe__text {
    font-size: 16px;
    line-height: 1.5;
  }
}

.subscribe-form__label::-moz-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.subscribe-form__label:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.subscribe-form__label::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

@media screen and (min-width: 768px) {
  .subscribe__subscribe-form {
    display: flex;
  }
}

.subscribe__subscribe-form input {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 42px;
  padding-right: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 11px;
  background-color: #fff;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscribe__subscribe-form input {
    width: 278px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe__subscribe-form input {
    width: 395px;
    margin-bottom: 0;
    margin-right: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .subscribe__subscribe-form input {
    width: 395px;
    margin-bottom: 32px;
  }
}

.subscribe__subscribe-form input:valid {
  border: 0.854167px solid #7eb101;
}

.subscribe__subscribe-form input:invalid {
  border: 0.854167px solid #ff705d;
}

.subscribe-form__button {
  display: block;
  margin-left: auto;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.53;
  color: #2c2c2c;
  width: 103px;
  height: 42px;
  border: none;
  background-color: #bbf330;
  border-radius: 30px;
  cursor: pointer;
  padding: 11px 22px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .subscribe-form__button {
    margin: 0;
  }
}
.subscribe-form__button:hover, .subscribe-form__button:focus {
  background-color: #b5ff00;
}

.subscribe__picture {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
  margin-top: -40px;
}
@media screen and (min-width: 768px) {
  .subscribe__picture {
    margin-left: auto;
    margin-top: -45px;
  }
}
@media screen and (min-width: 1280px) {
  .subscribe__picture {
    width: 608px;
    height: 266px;
    margin-top: -48px;
  }
}

.footer {
  min-height: 619px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fefefe;
  background-image: url("../images/footer/mob-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}
@media (min-device-pexel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .footer {
    background-image: url("../images/footer/mob-bg2x.png");
  }
}
@media (min-device-pexel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .footer {
    background-image: url("../images/footer/mob-bg3x.png");
  }
}
@media screen and (min-width: 768px) {
  .footer {
    min-height: 506px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../images/footer/tab-bg.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pexel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .footer {
    background-image: url("../images/footer/tab-bg2x.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pexel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .footer {
    background-image: url("../images/footer/tab-bg3x.png");
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    min-height: 395px;
    background-image: url("../images/footer/desk-bg.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pexel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .footer {
    background-image: url("../images/footer/desk-bg2x.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pexel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .footer {
    background-image: url("../images/footer/desk-bg3x.png");
  }
}

.footer-wrap {
  display: flex;
}
@media screen and (max-width: 479px) {
  .footer-wrap {
    width: 100%;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-wrap {
    align-items: center;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1279px) {
  .footer-wrap {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .footer-wrap {
    margin-bottom: 80px;
  }
}

.footer__list {
  margin: 0;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .footer__list {
    margin-right: 65px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__list {
    display: flex;
    margin-right: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__list {
    margin-left: 100px;
    display: flex;
  }
}

.footer__list__item {
  font-size: 13px;
  line-height: 1.14;
  list-style: none;
}
@media screen and (min-width: 1280px) {
  .footer__list__item {
    color: #2c2c2c;
    text-align: center;
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .footer__list__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__list__item:not(:last-child) {
    margin-right: 28px;
  }
}

.footer__link {
  color: #000000;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #bbf330;
}

.footer__subscribe {
  display: inline-block;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .footer__subscribe {
    margin-left: 200px;
  }
}
.footer__subscribe__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .footer__subscribe__title {
    margin-top: 40px;
  }
}
.footer__subscribe__input {
  width: 279px;
  height: 42px;
  padding-left: 12px;
  margin-bottom: 20px;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  background-color: #fff;
}
@media screen and (max-width: 479px) {
  .footer__subscribe__input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer__subscribe__input {
    margin-right: 13px;
    margin-bottom: 12px;
  }
}

.footer-bt {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .footer-bt {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}
.footer-bt__submit {
  padding: 11px 22px;
  background: #fff;
  border: 0.854167px solid #7eb101;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-bt__submit:hover, .footer-bt__submit:focus {
  background-color: #ffe550;
}
.footer-bt__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
}

.private {
  font-size: 10px;
  line-height: 1.2;
}
.private__link {
  color: #7eb101;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .footer-privacy {
    display: flex;
    justify-content: space-between;
  }
}

.privacy {
  display: flex;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .privacy {
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .privacy__list:not(:last-child) {
    margin-right: 20px;
  }
}
.privacy__link {
  font-size: 10px;
  line-height: 1.2;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #7eb101;
}
@media screen and (min-width: 768px) {
  .privacy__link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.copyright {
  font-size: 10px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .copyright {
    font-size: 12px;
    line-height: 1.17;
    align-items: center;
  }
}/*# sourceMappingURL=index.css.map */