body {
  font-size: 14px;
  font-weight: 400;
  // font-family: 'Inter', sans-serif;
  // font-family: 'Kalam', cursive;
  font-family: 'Roboto', sans-serif;
  color: $main-text-color;
  background-color: $bg-main-color;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px; 
  }
  
  @media screen and (min-width: 768px) {
    padding-right: 32px;
    padding-left: 32px;
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 16px;
    padding-right: 16px;
    width: 1280px;
  }
}

