$main-text-color: #2c2c2c;
$style-color: #bbf330;
$placeholder-color: #505050;
$footer-link-color: #7eb101;
$tablet-header-footer-color: #000000;
$input-text-color: #ff705d;
// -------------------------------------
$bg-main-color: #fefefe;
// $bg-header-color: #fefefe;
$bg-style-color: #ffe550;
$bg-hover-btn-color: #b5ff00;
// -------------------------------------

$bg-white-color: #fff;
$modal-error-text-color: #ff705d;
$modal-placeholder-text-color: #c4c4c4;
$modal-bg-color: rgba(94, 99, 99, 0.7);
$modal-error-bg-color: #ff705d;
$modal-border-color: rgba(18, 18, 18, 0.12);
// --------------------------------
$border-btn-color: #597d00;

