$main-text-color: #2C2C2C;
$style-color: #BBF330;
$placeholder-color: #505050;
$footer-link-color: #7EB101;
$tablet-header-footer-color: #000000;
$input-text-color: #FF705D;
// -------------------------------------
$bg-main-color: #F5F5F5;
$bg-header-color : #FEFEFE;
$bg-style-color: #FFE550;
$bg-hover-btn-color: #B5FF00;
// -------------------------------------
$bg-white-color: #fff;
$modal-error-text-color: #FF705D;
$modal-placeholder-text-color: #C4C4C4;
$modal-bg-color: rgba(94, 99, 99, 0.7);
$modal-error-bg-color: #FF705D;
$modal-border-color: rgba(18, 18, 18, 0.12);



