<section id="customers-say" class="section section-customer">
    <div class="container">
      <h2>What our Customers Say</h2>
      <p class="cont-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <ul class="customer">
        <li class="customer__item list">
          <div class="customer__icon-wrap">
            <svg class="customer__icon">
              <use href="./images/sprite.svg#icon-stars"></use>

            </svg>
          </div>
          <p class="customer__text">
            “The Best app I have used to order food in a while,
            so many options to choose from too, I would recommend
            to a freind, No questions asked”
          </p>
          <div class="customer__one">
            <img src="./images/customers/customers-1.jpg" alt="customer1" width="48" height="48">
            <ul>
              <li>
                <p class="customer__name">Sumith Shah</p>
              </li>
              <li>
                <p class="customer__note">Some Dude</p>
              </li>
            </ul>
          </div>

        </li>
        <li class="customer__item">
          <div class="customer__icon-wrap">
            <svg class="customer__icon">
              <use href="./images/sprite.svg#icon-stars"></use>
            </svg>
          </div>
          <p class="customer__text">
            “The ease with which I can just
            go in and order what i want was
            amazing, It has been a very pleasant
            experience ordering from this app”
          </p>
          <div class="customer__one">
            <img src="./images/customers/customers-2.jpg" alt="customer1" width="48" height="48">
            <ul>
              <li>
                <p class="customer__name">Sumith Shah</p>
              </li>
              <li>
                <p class="customer__note">Some Dude</p>
              </li>
            </ul>
          </div>
        </li>

      </ul>
    </div>
  </section>