<section id="favorites" class="favorites">
  <div class="container">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-item">
        <div class="favorites-image-wrap">
          <picture>
            <source srcset="
                ./images/favorites/gamburger-desk-315.webp 315w,
                ./images/favorites/gamburger-desk-630.webp 630w,
                ./images/favorites/gamburger-desk-945.webp 945w
              " type="image/webp" media="(min-width:1280px)" />
            <source srcset="
                ./images/favorites/gamburger-tab-268.webp 268w,
                ./images/favorites/gamburger-tab-536.webp 536w,
                ./images/favorites/gamburger-tab-804.webp 804w
              " type="image/webp" media="(min-width:768px)" />
            <source srcset="
                ./images/favorites/gamburger-mob-223.webp 223w,
                ./images/favorites/gamburger-mob-446.webp 446w,
                ./images/favorites/gamburger-mob-669.webp 669w
              " type="image/webp" />

            <source srcset="
                ./images/favorites/gamburger-desk-315.jpg 315w,
                ./images/favorites/gamburger-desk-630.jpg 630w,
                ./images/favorites/gamburger-desk-945.jpg 945w
              " type="image/jpeg" media="(min-width:1280px)" />
            <source srcset="
                ./images/favorites/gamburger-tab-268.jpg 268w,
                ./images/favorites/gamburger-tab-536.jpg 536w,
                ./images/favorites/gamburger-tab-804.jpg 804w
              " type="image/jpeg" media="(min-width:768px)" />
            <source srcset="
                ./images/favorites/gamburger-mob-223.jpg 223w,
                ./images/favorites/gamburger-mob-446.jpg 446w,
                ./images/favorites/gamburger-mob-669.jpg 669w
              " type="image/jpeg" />

            <img src="./images/favorites/gamburger-mob-223.jpg" alt="Gamburger" />
          </picture>
        </div>
      </li>

      <li class="favorites-item">
        <div class="favorites-image-wrap">
          <picture>
            <source srcset="
                ./images/favorites/Pasta-desk-315.webp 315w,
                ./images/favorites/Pasta-desk-630.webp 630w,
                ./images/favorites/Pasta-desk-945.webp 945w
              " type="image/webp" media="(min-width:1280px)" />
            <source srcset="
                ./images/favorites/Pasta-tab-268.webp 268w,
                ./images/favorites/Pasta-tab-536.webp 536w,
                ./images/favorites/Pasta-tab-804.webp 804w
              " type="image/webp" media="(min-width:768px)" />
            <source srcset="
                ./images/favorites/Pasta-mob-223.webp 223w,
                ./images/favorites/Pasta-mob-446.webp 446w,
                ./images/favorites/Pasta-mob-669.webp 669w
              " type="image/webp" />

            <source srcset="
                ./images/favorites/Pasta-desk-315.jpg 315w,
                ./images/favorites/Pasta-desk-630.jpg 630w,
                ./images/favorites/Pasta-desk-945.jpg 945w
              " type="image/jpeg" media="(min-width:1280px)" />
            <source srcset="
                ./images/favorites/Pasta-tab-268.jpg 268w,
                ./images/favorites/Pasta-tab-536.jpg 536w,
                ./images/favorites/Pasta-tab-804.jpg 804w
              " type="image/jpeg" media="(min-width:768px)" />
            <source srcset="
                ./images/favorites/Pasta-mob-223.jpg 223w,
                ./images/favorites/Pasta-mob-446.jpg 446w,
                ./images/favorites/Pasta-mob-669.jpg 669w
              " type="image/jpeg" />

            <img src="./images/favorites/Pasta-mob-223.jpg" alt="Pasta" />
          </picture>
        </div>
      </li>

      <li class="favorites-item">
        <div class="favorites-image-wrap">
          <picture>
            <source srcset="
                ./images/favorites/pizza-desk-315.webp 315w,
                ./images/favorites/pizza-desk-630.webp 630w,
                ./images/favorites/pizza-desk-945.webp 945w
              " type="image/webp" media="(min-width:1280px)" />
            <source srcset="
                ./images/favorites/pizza-tab-268.webp 268w,
                ./images/favorites/pizza-tab-536.webp 536w,
                ./images/favorites/pizza-tab-804.webp 804w
              " type="image/webp" media="(min-width:768px)" />
            <source srcset="
                ./images/favorites/pizza-mob-223.webp 223w,
                ./images/favorites/pizza-mob-446.webp 446w,
                ./images/favorites/pizza-mob-669.webp 669w
              " type="image/webp" />

            <source srcset="
                ./images/favorites/pizza-desk-315.jpg 315w,
                ./images/favorites/pizza-desk-630.jpg 630w,
                ./images/favorites/pizza-desk-945.jpg 945w
              " type="image/jpeg" media="(min-width:1280px)" />
            <source srcset="
                ./images/favorites/pizza-tab-268.jpg 268w,
                ./images/favorites/pizza-tab-536.jpg 536w,
                ./images/favorites/pizza-tab-804.jpg 804w
              " type="image/jpeg" media="(min-width:768px)" />
            <source srcset="
                ./images/favorites/pizza-mob-223.jpg 223w,
                ./images/favorites/pizza-mob-446.jpg 446w,
                ./images/favorites/pizza-mob-669.jpg 669w
              " type="image/jpeg" />

            <img src="./images/favorites/pizza-mob-223.jpg" alt="Pizza" />
          </picture>
        </div>
      </li>

      <li class="favorites-item">
        <div class="favorites-image-wrap">
          <picture>
            <source srcset="
                ./images/favorites/chicken-desk-315.webp 315w,
                ./images/favorites/chicken-desk-630.webp 630w,
                ./images/favorites/chicken-desk-945.webp 945w
              " type="image/webp" media="(min-width:1280px)" />
            <source srcset="
                ./images/favorites/chicken-tab-268.webp 268w,
                ./images/favorites/chicken-tab-536.webp 536w,
                ./images/favorites/chicken-tab-804.webp 804w
              " type="image/webp" />

            <source srcset="
                ./images/favorites/chicken-desk-315.jpg 315w,
                ./images/favorites/chicken-desk-630.jpg 630w,
                ./images/favorites/chicken-desk-945.jpg 945w
              " type="image/jpeg" media="(min-width:1280px)" />
            <source srcset="
                ./images/favorites/chicken-tab-268.jpg 268w,
                ./images/favorites/chicken-tab-536.jpg 536w,
                ./images/favorites/chicken-tab-804.jpg 804w
              " type="image/jpeg" />

            <img src="./images/favorites/chicken-tab-268.jpg" alt="Chicken" />
          </picture>
        </div>
      </li>

      <li class="favorites-item">
        <div class="favorites-image-wrap">
          <picture>
            <source srcset="
                ./images/favorites/salat-desk-315.webp 315w,
                ./images/favorites/salat-desk-630.webp 630w,
                ./images/favorites/salat-desk-945.webp 945w
              " type="image/webp" media="(min-width:1280px)" />
            <source srcset="
                ./images/favorites/salat-tab-268.webp 268w,
                ./images/favorites/salat-tab-536.webp 536w,
                ./images/favorites/salat-tab-804.webp 804w
              " type="image/webp" />

            <source srcset="
                ./images/favorites/salat-desk-315.jpg 315w,
                ./images/favorites/salat-desk-630.jpg 630w,
                ./images/favorites/salat-desk-945.jpg 945w
              " type="image/jpeg" media="(min-width:1280px)" />
            <source srcset="
                ./images/favorites/salat-tab-268.jpg 268w,
                ./images/favorites/salat-tab-536.jpg 536w,
                ./images/favorites/salat-tab-804.jpg 804w
              " type="image/jpeg" />

            <img src="./images/favorites/salat-tab-268.jpg" alt="Salat" />
          </picture>
        </div>
      </li>

      <li class="favorites-item">
        <div class="favorites-image-wrap">
          <picture>
            <source srcset="
                ./images/favorites/borshch-desk-315.webp 315w,
                ./images/favorites/borshch-desk-630.webp 630w,
                ./images/favorites/borshch-desk-945.webp 945w
              " type="image/webp" media="(min-width:1280px)" />
            <source srcset="
                ./images/favorites/borshch-tab-268.webp 268w,
                ./images/favorites/borshch-tab-536.webp 536w,
                ./images/favorites/borshch-tab-804.webp 804w
              " type="image/webp" />

            <source srcset="
                ./images/favorites/borshch-desk-315.jpg 315w,
                ./images/favorites/borshch-desk-630.jpg 630w,
                ./images/favorites/borshch-desk-945.jpg 945w
              " type="image/jpeg" media="(min-width:1280px)" />
            <source srcset="
                ./images/favorites/borshch-tab-268.jpg 268w,
                ./images/favorites/borshch-tab-536.jpg 536w,
                ./images/favorites/borshch-tab-804.jpg 804w
              " type="image/jpeg" />

            <img src="./images/favorites/borshch-tab-268.jpg" alt="Borshch" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>