<footer class="footer">
  <div class="container footer-wrap">
    <a href="index.html" class="footer__link-logo">
      <svg width="66" height="52">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="footer__list">
      <li class="footer__list__item">
        <a href="./index.html" class="footer__link link">Home</a>
      </li>
      <li class="footer__list__item">
        <a href="#offerings" class="footer__link link">Offerings</a>
      </li>
      <li class="footer__list__item">
        <a href="#favorites" class="footer__link link">Favorites</a>
      </li>
      <li class="footer__list__item">
        <a href="#customers-say" class="footer__link link">Customers Say</a>
      </li>
      <li class="footer__list__item">
        <a href="#subscribe" class="footer__link link">Subscribe</a>
      </li>
    </ul>
    <form class="footer__subscribe">
      <b class="footer__subscribe__title">Subscribe</b>
      <label class="footer__subscribe__label">
        <input
          type="email"
          name="mail"
          class="footer__subscribe__input"
          placeholder="Enter your email"
        />
      </label>
      <div class="footer-bt">
        <button type="submit" class="footer-bt__submit">
          <span class="footer-bt__title">Subscribe</span>
        </button>
      </div>
      <p class="private">
        By subscribing you agree to with our
        <a href="" class="private__link">Privacy Policy</a>
      </p>
    </form>
  </div>
  <div class="container footer-privacy">
    <ul class="privacy">
      <li class="privacy__list list">
        <a href="" class="privacy__link">Privacy Policy</a>
      </li>
      <li class="privacy__list list">
        <a href="" class="privacy__link">Terms of Service</a>
      </li>
      <li class="privacy__list list">
        <a href="" class="privacy__link">Cookies Settings</a>
      </li>
    </ul>
    <p class="copyright">2022 FoodSta. All right reserved.</p>
  </div>
</footer>
