<header>
  <div class="header__wrap container">
    <a href="./index.html" class="header__link-logo">
      <svg width="66" height="52">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__list__item">
          <a href="./index.html" class="header__link link">Home</a>
        </li>
        <li class="header__list__item">
          <a href="#offerings" class="header__link link">Offerings</a>
        </li>
        <li class="header__list__item">
          <a href="#favorites" class="header__link link">Favorites</a>
        </li>
        <li class="header__list__item">
          <a href="#customers-say" class="header__link link">Customers Say</a>
        </li>
        <li class="header__list__item">
          <a href="#subscribe" class="header__link link">Subscribe</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header__btn" data-modal-open>Order now</button>

    <div class="modile-block">
      <button
        type="button"
        class="header__mob-menu js-open-menu"
        aria-label="Переключатель мобильного меню"
        aria-expanded="false"
      >
        <svg class="modile-menu__icon" width="28" height="28">
          <use href="./images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <ul class="mob-menu__list list mob-menu">
        <li>
          <button class="menu-button-close" type="button">
            <svg
              class="menu-button-close__icon js-close-menu"
              width="11"
              height="11"
            >
              <use href="./images/sprite.svg#icon-close-icon-mob"></use>
            </svg>
          </button>
        </li>
        <li class="mob-menu__item">
          <a href="./index.html" class="mob-menu__link link">Home</a>
        </li>
        <li class="mob-menu__item">
          <a href="#offerings" class="mob-menu__link link">Offerings</a>
        </li>
        <li class="mob-menu__item">
          <a href="#favorites" class="mob-menu__link link">Favorites</a>
        </li>
        <li class="mob-menu__item">
          <a href="#customers-say" class="mob-menu__link link nowrap"
            >Customers Say</a
          >
        </li>
        <li class="mob-menu__item">
          <a href="#subscribe" class="mob-menu__link link">Subscribe</a>
        </li>
      </ul>
    </div>
  </div>
</header>
