<header>
  <div class="header__wrap container">
    <a href="./index.html" class="header__link-logo">
      <svg width="66" height="52">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="header__list">
        <li class="header__list__item">
          <a href="./index.html" class="header__link link">Home</a>
        </li>
        <li class="header__list__item">
          <a href="#offerings" class="header__link link">Offerings</a>
        </li>
        <li class="header__list__item">
          <a href="#favourites" class="header__link link">Favourites</a>
        </li>
        <li class="header__list__item">
          <a href="#customers-say" class="header__link link">Customers Say</a>
        </li>
        <li class="header__list__item">
          <a href="#subscribe" class="header__link link">Subscribe</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header__btn" data-modal-open>Order now</button>
    <button type="button" class="header__mob-menu">
      <svg width="28" height="28">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="header__mob-menu"></div>
</header>
