<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, consequuntur.</p>
<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, consequuntur.</p>
<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, consequuntur.</p>
<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, consequuntur.</p>

<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, consequuntur.</p>
<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, consequuntur.</p>
<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, consequuntur.</p>