
<!-- <div class="container"> -->
    <section class="hero">
      <div class="container rules">    
        <div class="hero-poke">
  <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
    
  <p class="hero-wrap">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
    varius enim in eros elementum tristique. Duis cursus, mi quis viverra
    ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
  </p>
  <button type="button" class="hero-button" data-modal-open>Order Now</button>  
</div>

<!-- Slider main container -->
<div class="swiper">

<!-- Additional required wrapper -->
<div class="swiper-wrapper">
  <!-- Slides -->
 
  <div class="swiper-slide">
    <picture>
      <source
          srcset="
          ./images/hero/tab/falafel-tab-1x.jpg,
          ./images/hero/tab/falafel-tab-2x.jpg"
          media="(min-width:768px)"
           />
           <source
           srcset="
           ./images/hero/pc/falafel-pc-1x.jpg,
           ./images/hero/pc/falafel-pc-2x.jpg"
          media="(min-width:1280px)"
           /> 
    <img class="img-swiper" src="./images/hero/pc/falafel-pc-1x.jpg">
  </picture>
  </div>
  <div class="swiper-slide">
  <picture>
    <source
          srcset="
          ./images/hero/tab/salad-tab-1x.jpg,
          ./images/hero/tab/salad-tab-2x.jpg"
          media="(min-width:768px)"
           />
           <source
           srcset="
           ./images/hero/pc/salad-pc-1x.jpg,
           ./images/hero/pc/salad-pc-2x.jpg"
          media="(min-width:1280px)"
           /> 
  
    <img class="img-swiper" src="./images/hero/pc/salad-pc-1x.jpg">
  </picture>
  </div>
  <div class="swiper-slide">
    <picture>
      <source
          srcset="
          ./images/hero/tab/avocado-tab-1x.jpg,
          ./images/hero/tab/avocado-tab-2x.jpg"
          media="(min-width:768px)"
           />
           <source
           srcset="
           ./images/hero/pc/avocado-pc-1x.jpg,
           ./images/hero/pc/avocado-pc-2x.jpg"
          media="(min-width:1280px)"
           /> 
    <img class="img-swiper" src="./images/hero/pc/avocado-pc-1x.jpg">
  </picture>
  </div>
 
</div>

<!-- If we need navigation buttons -->
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>

</div>
</div>
</section>

<!-- </div> -->
