<!-- <section class="subscribe" id="subscribe subscribe-overlay"> -->
<section class="subscribe subscribe-overlay" id="subscribe">
    
    <div class="container subscribe__container">
        <div class="form-box">
            <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
            <p class="subscribe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
                in
                eros elementum tristique.</p>
            <form class="subscribe__subscribe-form">
                <label class="subscribe-form__label">
                    <input type="email" name="email" placeholder="Enter your email" >
                </label>
                <button type="submit" class="subscribe-form__button">
                    Subscribe
                </button>
            </form>
        </div>

        <picture class="subscribe__picture">
            <source srcset="
                /src/images/subscribe/banan_desktop@1x.png 1x,
                /src/images/subscribe/banan_desktop@2x.png 2x
            " media="(min-width: 1280px)" />
            <source srcset="
                /src/images/subscribe/banan_tablet@1x.png 1x,
                /src/images/subscribe/banan_tablet@2x.png 2x
            " media="(min-width: 768px)" />
            <source srcset="
                /src/images/subscribe/banan_mobile@1x.png 1x,
                /src/images/subscribe/banan_mobile@2x.png 2x
            " media="(max-width: 767px)" />
            <img src="/src/images/subscribe/banan_desktop@1x.png" alt="Банан" />
        </picture>
    </div>
</section>
