h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
  
    color: $main-text-color;
  
    margin-top: 0;
    margin-bottom: 0;
  }
  
  li {
    list-style-type: none;
  }
  
  .section-customer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  
    background-image: url(.././images/customers/mob-bcg-customer-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    @media screen and (min-width: 768px) {
      padding-top: 60px;
      padding-bottom: 46px;
  
      background-image: url(.././images/customers/tab-bcg-customer-1.png);
      background-position: 50% 30%;
    }
  
    @media screen and (min-width: 1280px) {
      padding-top: 100px;
      padding-bottom: 134px;
      padding-left: 16px;
  
      background-image: url(.././images/customers/desk-bcg-customer-1.png);
    }
  }
  
  .cont-text {
    line-height: 1.5;
    color: #2c2c2c;
  
    margin-top: 20px;
    margin-bottom: 32px;
  }
  
  .customer {
    margin: 0;
  
    @media screen and (min-width: 768px) {
      margin: 0 auto;
  
      display: flex;
      justify-content: space-between;
    }
  
    @media screen and (min-width: 1280px) {
      display: flex;
      justify-content: flex-start;
  
      flex-basis: calc((100% - 4 * 16px) / 2);
    }
  }
  
  .customer__item {
    min-width: 280px;
    padding: 8px;
  
    border: 1px solid $bg-white-color;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  
    background-color: $bg-white-color;
  
    @media screen and (min-width: 768px) {
      width: 336px;
      height: 244px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 500px;
      height: 227px;
    }
  }
  
  .customer__icon-wrap {
    margin-bottom: 28px;
  }
  
  .customer__icon {
    width: 101px;
    height: 16px;
  }
  
  .list {
    margin-bottom: 24px;
  
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  
    @media screen and (min-width: 1280px) {
      margin-right: 139px;
    }
  }
  
  .customer__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
  
    color: #2c2c2c;
  
    margin-bottom: 40px;
  }
  .customer__one {
    display: flex;
    justify-content: space-around;
    width: 160px;
    height: 52px;
  
    border-right: 1px solid $footer-link-color;
  }
  
  .customer__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
  
    color: #2c2c2c;
  }
  
  .customer__note {
    line-height: 1.5;
  
    color: #2c2c2c;
  }