
  .swiper{
    width: 100%;
    background-color: transparent;
  }
  
  @media screen and (max-width: 767px){
    .swiper{
        display: none;
    }
    }
  
  .hero{
      // padding-top: 14px;
      padding-top: 60px;
      padding-bottom: 50px;
    //  правки
      @media screen and (min-width: 768px) {
        padding-bottom: 0;
        margin-bottom: -105px;
      }
      @media screen and (min-width: 1280px) {
        padding-top: 0;
        margin-bottom: -180px;
      }
      // правки
  }
  
  /* Left Column */
  
  .hero-title {
    // font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  margin-bottom: 28px;
    // @media screen and (min-width: 768px) {
    //   width: 573px;
    // }
  }
  
  .hero-wrap{
  // font-family: 'Roboto' sans-serif;
  // font-weight: 400;
  // font-size: 14px;
  line-height: 1.5;
  margin-bottom: 28px;
  }
  
  
  .hero-button{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 30px;
  cursor: pointer;
  background-color: $style-color;   
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  padding: 6px 18px;
  border: none;
  font-family: inherit;
  }
  .hero-button:hover{
    background-color:#B5FF00;
  }
   
  
  
  
  
  
  
  /* Swiper slide */
  
  @media screen and (min-width: 768px) {
    
  .hero-title {
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
  margin-bottom: 30px;
  max-width: 537px;
  }
  
  .hero-design{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .hero-wrap{
   
  font-family: 'Roboto' sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 41px;
  max-width: 336px;
  }
    
  // .hero{
  //   display: flex;
  // }
  .rules {
    display: flex;
  }
  
    .swiper{
      width: 320px;
      // height: 320px;
      position: relative;
      box-sizing: border-box;
      // background-color: transparent;
      margin-top: -55px;
      
    }
    .img-swiper{
      // width: 292px;
      // height: 292px;
      background-color: $bg-main-color;
      border: 14px solid $bg-style-color;
      border-radius: 50%;
     
  }
  
  .swiper-button-prev {
    margin-left: -20px;
    background: $bg-main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 34px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
    
    
    
    .swiper-button-next {
        background: $bg-main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-right: -20px;
    width: 34px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
    }
  
  
  
  
  
  
  
  
  
  
  
  @media screen and (min-width: 1280px){
  
  .hero{
    display: flex;
  }
    
   
  .hero-wrap{
    max-width: 490px;
  }
  
  .hero-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    margin-top: 159px;
    max-width: 502px;
    
    }
    .hero-wrap{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 40px;
      }
  
  .img-swiper{
      width: 528px;
      height: 528px;
      background-color: $bg-main-color;
      border: 26px solid $bg-style-color;
      border-radius: 50%;
  }
  
  .swiper {
      width: 608px;
      height: 608px;
      position: relative;
      box-sizing: border-box;
      background-color: transparent;
      margin-top: -310px;
    }
    
   
  
  .swiper-slide {
  align-items: center;
  display: flex;
  justify-content: center;
  
  }
  
  .swiper-button-prev {
  margin-left: 20px;
  background: $bg-main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 40px;
  height: 48px;
  }
  
  
  .swiper-button-next {
  background: $bg-main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-right: 20px;
  width: 40px;
  height: 48px;
  
  }
  
  .swiper-button-prev:focus,
  .swiper-button-next:focus,
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
      color: $footer-link-color;
  }
   .rules {
    display: flex;
   }
  }
  