// Offerings

.offerings {
    padding-top: 41px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 180px;
        padding-bottom: 43px;
    }
}

.offerings__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;

    @media screen and (min-width: 768px) {
        font-size: 42px;
    }
}

.offerings__text {
    margin-top: 28px;
    margin-bottom: 28px;

    line-height: 1.1;

    @media screen and (min-width: 768px) {
        margin-top: 20px;
        margin-bottom: 40px;

        font-size: 16px;
        line-height: 1.2;
    }

    @media screen and (min-width: 1280px) {
        line-height: 1.5;
    }
}

@media screen and (min-width: 768px) {
    .offerings__div {
        padding-right: 204px;
    }
}

@media screen and (min-width: 1280px) {
    .offerings__div {
        padding-right: 82px;
    }
}

@media screen and (min-width: 1280px) {
    .offerings__flex,
    .offerings__desktop {
       display: flex;
       flex-wrap: wrap;
    }

    .offerings__desktop {
        flex-wrap: nowrap;
        align-items: center;
    }
}

.offerings__list__title {
    margin-bottom: 16px;
    
    font-weight: 700;
    font-size: 18px;    
    line-height: 1.2;

    @media screen and (min-width: 1280px) {
        line-height: 1.4;
    }
}

.offerings__list__text {
    line-height: 1.1;

    @media screen and (min-width: 1280px) {
        line-height: 1.5;
    }
}

.offerings__list__item {
    @media screen and (max-width: 767px) {
        margin-bottom: 28px;
    }

    @media screen and (min-width: 768px) {
        &:not(:last-child) {
            margin-right: 116px;
        }
        &:last-child {
            margin-right: 84px;
        }
    }

    @media screen and (min-width: 1280px) {
        &:not(:last-child) {
            margin-right: 67px;
        }
        &:last-child {
            margin-right: 35px;
        }
    }
}

.offerings__list.list {
    margin: 0;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 32px;
    }
}

.offerings__list__icon {
    margin-bottom: 8px;

    border-radius: 50%;
    background-color: $bg-white-color;
}

// Offerings button

.offerings__btn {
    display: flex;
    align-items: center;

    font-style: inherit;
    line-height: 1.5;
    
}

.offerings__btn-order {
    padding: 10px 22px;
    margin-right: 24px;

    font-weight: 500;
    font-size: 13px;

    background: $bg-white-color;
    border: 2px solid $footer-link-color;
    border-radius: 30px;

    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus,
    &:active {
        border: 2px solid $border-btn-color;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 0;
    }

}

.offerings__btn-read {
    padding: 7px 0;    

    display: flex;
    align-items: center;

    cursor: pointer;

    border: none;

    color: $tablet-header-footer-color;
    background-color: transparent;

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.offerings__btn-read__icon {
    margin-left: 3px;
}

// Offerings image

.offerings__img {
    margin: 0 auto 60px;

    @media screen and (min-width: 1280px) {
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    .offerings__img-desktop {
        margin-right: 90px;
    }
}

@media screen and (max-width: 767px) {
    .offerings__img-tablet,
    .offerings__img-desktop {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .offerings__img-mobile,
    .offerings__img-desktop {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .offerings__img-mobile,
    .offerings__img-tablet {
        display: none;
    }
}

// Offerings backgrond-image

.overlay {
    max-width: 479px;
    min-height: 824px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/offerings/bgi-mobile320.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

@media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
      background-image: url(../images/offerings/bgi-mobile320-2x.png);
    }
  }

  @media screen and (min-width: 480px) {
    .overlay {
        max-width: 767px;
        background-image: url(../images/offerings/bgi-mobile480.png);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
      background-image: url(../images/offerings/bgi-mobile480-2x.png);
    }
  }
}

  @media screen and (min-width: 768px) {
    .overlay {
        max-width: 1279px;
        background-image: url(../images/offerings/bgi-tablet.png);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
      background-image: url(../images/offerings/bgi-tablet2x.png);
    }
  }
}

@media screen and (min-width: 1280px) {
    .overlay {
        // max-width: 1600px;
        max-width: 100%;
        background-image: url(../images/offerings/bgi-desktop.png);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
      background-image: url(../images/offerings/bgi-desktop2x.png);
    }
  }
}
